@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Battambang', cursive;
    outline: none;
    
}
/* pnc logo */
.logo{
    width: 230px;
    height: 60px;
    margin-left: 20px;
    margin-bottom: 4px;
}
.container .content,.cards{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.container .cards .card-image{
    font-size: 35px;
    margin: 10px;
    width: 25rem;
    height: 50vh;
}
.container .cards #start{
    background-image: url(/img/do-quiz.jpg);
}
.container .cards #create{
    background-image: url(/img/create-quiz.jpg);
}

/* button on image */
.container .cards .card-image button{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    height: 2.5rem;
    width: 7rem;
    margin-left: 3rem;
    margin-top: 3rem;
    border: none;
    color: white;
    background: blue;
}

/* text on image */
.container .cards .card-image #p{
    margin-left: 3rem;
    margin-top: 7rem;
}

/*  */
#edit-quiz{
    width: 100%; 
    margin: auto;
}
/* title do quiz */
/* .do_menu{
    font-size: 25px;
    color: white;
} */
/* edit quiz form */
#form-add{
    width: 100%;
    text-align: center;
}
/* all input */
input{
    padding: 10px;
    margin: 12px;
}
/* edit quiz menu */
.header{
    padding: 10px;
    text-align: center;
    background: blue;
    font-size: 30px;
    color: white;
}
/* back button  */
.back{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#btn-back{
    margin-top: 20px;
    height: 2rem;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 25px;
    border: none;
    color: white;
   background: blue;
}

#btn-back1{
    margin-top: 20px;
    height: 2rem;
    width: 80px;
    padding: 5px;
    margin-right: 25px;
    border-radius: 5px;
    border: none;
    color: white;
   background: blue;
}

/* add title */
.tittle{
    margin-top: 20px;
    width: 50%;
    border: solid 2px blue;
}


#tittle{
    margin-top: 40px;
    width: 500px;
    
}
/* delete and edit icons */
.fa-trash {
    color: red;
    float: right;
    font-size: 25px;
}
.fa-edit{
    color: blue;
    float: right;
    font-size: 25px;
}

/* input question */
#question{
    margin-top:50px;
    width: 500px;
}

#question-content{
    width: 50%;
    margin: auto;
}
.card_question{
    margin: 10px;
    padding: 2rem;
    width: 100%;
    border-left: 3px solid blue;
    background: rgb(214, 212, 212);
}
/*input score  */
#score{
     width: 3%; 
     outline: none;
     border: none;
     color: white;
     background: blue;
     margin-left: -8px;
}


#question:hover, .label-choice:hover{
    border: 3px solid blue;
}
/* button add queston  */
#btn-add-question{
    margin-top: 30px;
    width: 25%;
    padding: 11px;
    background: blue;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* do quiz */
.nav-quiz{
    margin: 10px auto;
    width: 100%;
}
.quiz-card{
    width: 70%;
    margin: auto;
    text-align: center;
}
.cardAnswer{
    background: rgb(199, 196, 196);
}
.eachAnswer{
    display: flex;
    margin-left: 25px;
}
.questions{
    background:blue;
    color: white;
}
.titleCard{
    width: 100%;
    margin-top: 20px;
    background: blue;
    color: white;
    font-size: 23px;
}
.questionCard{
    font-size: 19px;
    margin-top: 30px;
}
/* button submit */
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-submit {
  align-items: center;
  background-clip: padding-box;
  background-color: blue;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}